body {
    font-size: 10px;
    font-family: sans-serif;
  }
  
  #drawing, #panel {
    display: block;
  }
  
  h1 {
    font-family: sans-serif;
  }
  
  .panels {
    margin-top: 20px;
  }
  
  /* kad neliktu keisto tarpo tarp svg */
  svg {
    display: flex;
  }
  
  #topribPanels {
    position: relative;
  }
  
  .svgTest {
    position: absolute;
  }
  
  #initial__btn {
    display: none;
    margin-top: 20px;
  }
  
  #panel-controls {
    display: none;
    width: 500px;
  }
  
  #edit-panels {
    display: flex;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  
  .container {
    width: 1500px;
    margin: 0 auto;
  }
  
  .container .initial #panel-selection {
    display: flex;
  }
  
  .container .initial #panel-selection li:not(#window-list) {
    list-style: none;
    padding: 5px;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .container .initial #panel-selection li:not(#window-list):hover {
    color: #c9a02e;
  }
  
  .container .parameters #construction-tabs {
    display: flex;
    padding-left: 0;
  }
  
  .container .parameters #construction-tabs li {
    list-style: none;
    padding: 5px;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .container .parameters #construction-tabs li:not(#window-list):hover {
    color: #c9a02e;
  }
  
  .container .parameters #panel-controls {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }
  
  .container .parameters #panel-controls p {
    font-size: 1.4em;
  }
  
  .container .parameters #panel-controls .controls-list li {
    list-style: none;
    padding: 5px;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .container .parameters #panel-controls .controls-list li:hover {
    color: #c9a02e;
  }
  
  .container .parameters #panels {
    display: inline-block;
  }
  
  .hide {
    display: none !important;
  }
  
  .redFill {
    fill: #bfbeb8;
  }
  
  .parameters .dimensions {
    font-size: 1.5em;
    margin-top: 20px;
  }
  .parameters .dimensions__btn {
    margin-top: 20px;
  }
  .parameters .dimensions > * {
    display: block;
  }
  .parameters .dimensions__btn {
    width: 175px;
    padding: 5px;
  }
  
  #panels {
    position: relative;
    margin-left: 50px;
  }
  #panels .afterSVG {
    position: relative;
  }
  #panels .afterSVGHeight, #panels input.inputHeight {
    position: absolute;
    left: -30px;
    font-size: 1.2em;
    transform: translateY(-50%);
    line-height: 1.2em;
  }
  #panels input.inputHeight {
    width: 23px;
  }
  #panels .afterSVGwidth {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20px;
  }
  
  #panel-controls .segments, #panel-controls .doors, #panel-controls .windows {
    display: none;
  }
  
  #panels {
    position: relative;
  }
  
  #panelsTest {
    position: relative;
    width: 50%;
    display: inline-block;
  }
  #panelsTest #windows {
    position: absolute;
    top: 0;
  }
  
  .windowww {
    position: absolute;
    top: 0;
  }
  
  .panelContainer {
    position: relative;
  }
  
  #windowCount li {
    font-size: 0.6em;
  }
  
  /*# sourceMappingURL=style.css.map */
  /*# sourceMappingURL=style.scss.map */
  
  /*# sourceMappingURL=style.css.map */
  